name: xmlable pr check

on:
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - name: Install Hatch
        run: pipx install hatch
      - name: Test
        run: hatch run check:test
      - name: typecheck
        run: hatch run check:typecheck
      - name: lint
        run: hatch run check:lint
      - name: Build
        run: hatch build
